@import '../global.scss';

.chat-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $clr-700;
  overflow: hidden;

  .chat-list {
    background-color: $clr-500;
    width: 260px;

    .profile-header {
      display: flex;
      align-items: center;
      background-color: $clr-700;
      height: 4rem;
      padding: 1rem;

      p {
        margin-left: 0.5rem;
        max-width: 15ch;
        overflow-wrap: break-word;
      }

      a {
        background-color: $clr-800;
        color: $clr-100;
        border: solid 1px $clr-400;
        border-radius: 0.3rem;
        font-size: 0.75rem;
        padding: 0.5rem 0.65rem;
        margin-left: auto;
      }
    }

    input[type='text'] {
      color: $clr-100;
      background-color: $clr-400;
      border: none;
      padding: 0.5rem 1rem;
      width: 100%;
      overflow: hidden;
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }

    .chat-card {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      margin: 3px;
      border-radius: 0.25rem;
      cursor: pointer;

      &:hover {
        background-color: $clr-700;
      }

      img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }

      p {
        margin-left: 1rem;
        font-size: 1.125rem;
      }
    }
    .selected {
      background-color: $clr-700;
    }
  }

  .chat-window {
    position: relative;
    flex: 5;
    overflow-y: hidden;

    .chat-header {
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      background-color: $clr-800;
      height: 4rem;
      padding: 0 1rem;
      gap: 1rem;

      img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }

      h2 {
        font-weight: 600;
        font-size: 1.5rem;
      }
    }

    .message-container {
      display: flex;
      flex-direction: column;
      height: calc(100% - 60px - 84px - 2rem);
      //60px: header, 84px: size of textarea, 2rem: margin of message-input-container
      overflow-y: scroll;

      .message {
        padding: 0.5rem 0.75rem;
        margin: 0.5rem 1rem;
        max-width: 50%;
        width: max-content;
        word-wrap: break-word;
        white-space: pre-line;
      }

      .message-img {
        max-height: 400px;
        max-width: 100%;
      }

      .sent {
        align-self: flex-end;
        border-radius: 0.5rem 0 0.5rem 0.5rem;
        background-color: $clr-600;
        border: 1px solid $clr-400;
      }

      .received {
        border-radius: 0 0.5rem 0.5rem 0.5rem;
        background-color: $clr-500;
        border: 1px solid $clr-400;
        color: $clr-100;
      }
    }

    .message-input-container {
      position: sticky;
      display: flex;
      align-items: center;
      bottom: 0;
      background-color: $clr-800;
      border: 2px solid $clr-500;
      border-radius: 0.5rem;
      margin: 1rem;
      padding: 1rem 0;

      &:focus-within {
        border: 2px solid $clr-400;
      }

      .selected-attachment-container {
        position: absolute;
        bottom: 100%;
        left: 0;
        margin: 0.5rem;
        border-radius: 0.35rem;
        border: solid 1px $clr-200;
        background-color: $clr-800;
        width: 200px;
        height: 200px;

        svg {
          position: absolute;
          margin: 0.5rem;
          width: 30px;
          height: 30px;
          right: 0;
          fill: $clr-error-text;
          background-color: $clr-800;
          cursor: pointer;
        }

        .selected-attachment {
          width: 200px;
          height: 198px;
          object-fit: contain;
        }
      }

      label {
        cursor: pointer;
        max-width: 50px;
        margin: 0 0.5rem;
        transition: all 50ms ease;

        &:hover {
          scale: 1.1;
        }
      }

      input[type='file'] {
        display: none;
      }

      svg {
        fill: $clr-100;
      }

      textarea {
        position: relative;
        flex: 1;
        border: none;
        background-color: $clr-800;
        resize: none;
        overflow-y: hidden;

        &:focus {
          outline: none;
        }
      }

      .send-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $clr-900;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        margin: 0 1rem;
        transition: all 50ms ease;
        cursor: pointer;

        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}
