@import './variables.scss';

a,
button,
.btn-avatar {
  color: $clr-900;
  font-size: 1rem;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 150ms ease;
}

.btn-primary {
  background-color: $clr-200;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid $clr-200;
  color: $clr-100;
}

.btn-tertiary {
  background-color: transparent;
  color: $clr-100;
  border: 1px solid $clr-900;
}

.btn-logout {
  position: absolute;
  margin: 1rem;
  top: 0;
  right: 0;
  font-size: 0.75rem;
  padding: 0.35rem 0.65rem;
}
