$text-body: 'Kantumruy Pro', sans-serif;
$clr-900: hsl(224, 38%, 6%);
$clr-800: hsl(219, 26%, 13%);
$clr-700: hsl(218, 28%, 23%);
$clr-600: hsl(219, 41%, 26%);
$clr-500: hsl(219, 30%, 40%);
$clr-400: hsl(219, 45%, 62%);
$clr-200: hsl(219, 68%, 79%);
$clr-100: hsl(225, 33%, 95%);
$clr-error-text: hsl(0, 65%, 54%);
$clr-success-text: hsl(119, 56%, 44%);
